body {
  background: #021019;
  margin: 0px;
  padding: 0px;
}

.compass .back {
  fill: #256574;
}

.compass .fore, .compass .chevron {
  stroke: #1AA398;
}

#streets path {
  fill: #fff;
  opacity: 0.6;
  stroke-linecap: round;
}

#copy, #copy a {
  color: #1AA398;
}

#tooltip {
  position:absolute;
  background-color: white;
  width: 100px;
  height: 100px
}

#sidebar {
  position: absolute;
  background-color: white;
  width: 150px;
  height: 100%;
}

#loading {
  position:absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 200px;
  font-size: 36px;
  font-family: 'Lucida Grande', Arial;
  font-weight: bold;
  opacity: 0.6;
}