body {
  background: #021019;
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Grande', Arial;
}

.compass .back {
  fill: #256574;
}

.compass .fore, .compass .chevron {
  stroke: #1AA398;
}

#streets path {
  fill: #fff;
  opacity: 0.6;
  stroke-linecap: round;
}

#copy, #copy a {
  color: #1AA398;
}

#sidebar {
  position: absolute;
  background-color: white;
  width: 250px;
  height: 100%;
}

.title {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 12px;
}

#tooltip {
  background-color: #48f;
  margin: 10px;
  padding: 10px;
  height: 80px;
}

#loading {
  position:absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  opacity: 0.6;
}

.loading_inner {
  padding-top: 200px;
}